<!--The content below is only a placeholder and can be replaced.-->
<div class="root">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<p *ngFor="let user of allUsers">

    <ng-button (click)="onButtonGetUser("{{user['_id']}}")">Show One Users</button>
  
</p>






<button (click)="onButtonGetAll()" >Show All Users</button>

<button (click)="onButtonGetUser('5b6b7a94c794a061bbcbbdb1')" >Show One Users</button>

<button (click)="onButtonCreateUser('ryans')" >Create User</button>
<button (click)="onButtonUpdateUser('5b6b7a94c794a061bbcbbdb1','troooy')" >Update User</button>
<button (click)="onButtonDeleteUser('5b6cdee9fdedcc9a60a5c7b8')" >Delete User</button>




