<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
        <div class='errors'>
            <% if(messages.registration) { %>
                <% for (var x of messages.registration) { %>
                <h6><%= x %></h6>
                <% } %>
            <% } %>
        </div><br>


        <% if(messages.registration) { %>
            <%= messages.registration%>
            <% } %>


           
                <div class='container' style="border:none;">
                                 
                    <form class='form-control' action="addDog" method="POST">
                        
                        <div class="form-group">
                            <b>Dog Name:</b><br><input type="text" name="name" input><br>
                        </div>
                        <div class="form-group">
                            <b>Breed:</b><br><input type="text" name="breed" input><br>
                        </div>
                        <div class="form-group">
                            <b>Color:</b><br><input type="text" name="color" input><br>
                        </div>
                        <div class="form-group">
                                <b>Age:</b><br><input type="text" name="age" input><br>
                        </div>


                        <button type="submit" class="btn btn-success">Add doggo!</button>
                    </form>
                  
                </div>
                <a href="/">Home</a>
                
        
   
</body>


</html>
<style>
    form{
        
        margin-right: 40%;
        margin-top:10vh;
    }
</style>