.container{
    padding: 30px;
}
.form{
    margin-left: 40%;
    width: 300px;
}
h4{
    margin: 20px;
}

#nameButtons{
    width: 150px;
    height: 30px;
    margin:2px;
    margin-left: 10%;
}
span{
    color: red;
}
#userInfo{
    margin-top: 20px;
    width: 800px;
    margin-left: 20%;
}